<h1>Listing ideas</h1>

<table class="table table-bordered table-striped">
	<thead>
  <tr>
    <th>Name</th>
    <th>Decription</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    </thead> 
   <tbody>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.name %></td>
    <td><%= idea.decription %></td>
    <td><%= image_tag(idea.picture_url, :width => 100) if idea.picture.present? %></td>
    <td><%= link_to 'Show', idea, class: "btn" %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea), class: "btn btn-warning" %></td>
    <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Idea', new_idea_path %>
